<div class="container my-5">
  <h2 class="mb-5">管理者ログイン</h2>

  <%= form_with model: @admin, url: admin_session_path do |f| %>
    <div class="m-5 row bg-light shadow">
      <div class="col-12 col-md-8 my-3 mx-auto">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'メールアドレス' %>
      </div>

      <div class="col-12 col-md-8 my-3 mx-auto">
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'パスワード' %>
      </div>

      <div class="col-12 col-md-8 my-3 mx-auto">
        <%= f.submit "ログイン", class: 'btn btn-outline-info btn-block' %>
      </div>
    </div>
  <% end %>