<div class="container my-5">
  <h1><%= @customer.name %>さんのフォロワー一覧</h1>

  <% if @customers.exists? %>
    <%= render '/public/customers/index', customers: @customers %>
  <% else %>
    <p class="ml-5">フォローされたユーザーはいません</p>
  <% end %>
</div>