<div class="container my-5">
  <h1><%= @customer.name %>さんのフォロー一覧</h1>

  <% if @customers.exists? %>
    <%= render '/public/customers/index', customers: @customers %>
  <% else %>
    <p class="ml-sm-5">フォローしたユーザーはいません</p>
  <% end %>
</div>