<h1>ようこそ CATS へ!!</h1>
<p>
  CATSは猫好きのためのSNSになります。<br>
  ゲストログインをすることで投稿の閲覧はできますが、<br>
  新規投稿をするには会員登録が必要です。
</p>
 <div>
  <div>
    <!--%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>-->
  </div>
  <div>
    <%= link_to 'Log in',new_customer_session_path %>
  </div>
  <div>
    <%= link_to 'Sign Up',new_customer_registration_path %>
  </div>
</div>