<div class="container my-5">
  <div class="d-flex justify-content-between">
    <h1 class="d-flex align-items-center">投稿一覧</h1>
    <h3 class="shadow rounded-circle text-center d-flex justify-content-center align-items-center plus-bottun" style="width:3rem;height:3rem;">
      <%= link_to '＋', new_item_path, class: 'text-secondary align-middle text-decoration-none', style: "font-size: 1.75rem !important;" %>
    </h3>
  </div>

  <%= render 'public/items/index', items: @items %>
</div>